.App {
  background-color: #778ba6;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-end {
  align-items: end;
}

.space-bet {
  justify-content: space-between;
}

.justify-ctr {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 10px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 900;
}

/* Color Theme Swatches in Hex */
.catching-a-brown-trout-in-the-river-1-hex {
  color: #778ba6;
}
.catching-a-brown-trout-in-the-river-2-hex {
  color: #a3a658;
}
.catching-a-brown-trout-in-the-river-3-hex {
  color: #bfb373;
}
.catching-a-brown-trout-in-the-river-4-hex {
  color: #402116;
}
.catching-a-brown-trout-in-the-river-5-hex {
  color: #f2f2f2;
}
